@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@custom-variant hover (&:hover);  
@theme {

--font-display: "Roboto", sans-serif;
--color-primary:  #05020B;
--color-secondary:  #698195;


}